
.banner{
    text-align: center;
    width: 100%;
    margin-top: 50px;
    
}
.banner  h1{
    font-size: 4rem;
    font-weight: bold;
}
.banner p{
    font-size: 16px;
    margin: 20px;
}

.btn{
    background-color: #FF900E;
    color: white;
    font-size: 16px;
    font-weight: 600;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 30px;
    border: none;
}
.btn:hover{
    background-color: #86b5d8;
    color: black;
    box-shadow: 2px 3px 2px 3px rgba(0, 0, 0, 0.433);
}
.banner img{
    height: 650px;
    width: 1400px;
    margin-bottom: 40px;
}





