
.card{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}
.card .icon{
    border: 2px solid #FF900E;
    width: 280px;
    text-align: center;
    padding: 20px;
    line-height: 35px;
    margin-top: 10px;
}
.some-fact{
   margin-top: 10%;

}
.some-tx{
   margin: 45px;
}