

.experience{
    display: flex;
    justify-content: center;
     margin-top: 70px;
     margin-left: 50px;
}

.experience-con{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
}
.pic{
    height: 800px;
    margin-top: 30px;
}
/* .experience .btn1{
    position: absolute;
    margin-bottom: 80px; */

.experience-con .ex-tx{
    box-shadow: 3px 3px 3px 3px rgba(128, 128, 128, 0.79)y;
    border-radius: 10px;
    margin-top: 25px;
    width: 600px;
   padding-left: 30px;
}