
.feature{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 45px;
}

.img-part{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.feature h1{
    font-size: 40px;
    font-weight: bold;
}
.feature-tx p{
    margin: 24px 0;
}
