
.sponsor-info{
    
    text-align: center;
    margin-top: 12%;
}
.sponsor-info h3{
    font-size: 2rem;
}
.company{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.company img{
   filter: grayscale(100%);
}
.title{
    background-color: rgb(255, 244, 231);
    border-radius: 8px;
    text-align: center;
    margin: 80px auto;
    padding: 35px 100px;
}
