
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
header{
    background: rgba(255, 144, 14, 0.1);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
}

.nav ul{
    display: flex;
    
}

ul li{
list-style-type: none;
margin-right: 30px;
}

ul li a{
text-decoration: none;
color: black;
font-size: 18px;
font-weight: 500;
}
.nav h1{
    font-size: 3rem;
    font-weight: 700;
}

